/* css styles */

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100&family=Oswald:wght@200;400&display=swap');



.navbar{
  font-family: roboto;
  font-weight: 600;
}

.blockquote{
  text-align: left;
  font-weight: 300;
}

ul{
  list-style-type: square;
}

li::marker{
  color: #0096FF;
  font-size: 1.3em;
}


/* Logo code to customize headers */
.logo-regular img {
  max-height: 21em;
  max-width: 100%;
  margin: auto;
  display: block;
}

.logo-small img {
  height: 10em;
  margin: auto;
  display: block;
}

.card-title {
 font-weight: 700;
 font-size: 22px;
}

#colorstrip-regular{
    width: 100%;
    max-height: 21em;
    border-color: black;
    background: black;
    /*background: linear-gradient(to right, white 1%, gray 7%, black 15%, black 85%, gray 93%, white 99%); */
}

#colorstrip-small{
    width: 100%;
    max-height: 10em;
    border-color: black;
    background: black;
    /*background: linear-gradient(to right, white 1%, gray 7%, black 15%, black 85%, gray 93%, white 99%); */
}


