/* css styles */

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100&family=Oswald:wght@200;400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: roboto-light, sans-serif;
  font-weight: 300;
}

.navbar{
  font-family: roboto;
  font-weight: 600;
}

.blockquote{
  text-align: left;
  font-weight: 300;
}

ul{
  list-style-type: square;
}

li::marker{
  color: #0096FF;
  font-size: 1.3em;
}


/* Logo code to customize headers */
.logo-regular img {
  max-height: 21em;
  max-width: 100%;
  margin: auto;
  display: block;
}

.logo-small img {
  height: 10em;
  margin: auto;
  display: block;
}

.card-title {
 font-weight: 700;
 font-size: 22px;
}

#colorstrip-regular{
    width: 100%;
    max-height: 21em;
    border-color: black;
    background: black;
    /*background: linear-gradient(to right, white 1%, gray 7%, black 15%, black 85%, gray 93%, white 99%); */
}

#colorstrip-small{
    width: 100%;
    max-height: 10em;
    border-color: black;
    background: black;
    /*background: linear-gradient(to right, white 1%, gray 7%, black 15%, black 85%, gray 93%, white 99%); */
}


.testimonial {
  /* Add shadows to create the "card" effect */
  box-shadow: 6px 8px 10px 6px rgba(0,0,0,0.35);
  transition: 0.3s;
  padding: 15px 25px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 500px;
  border-radius: 15px;
  text-align: center;
  overflow: auto;
}


.testimonial-image img {
  border-radius: 50%;
  display: inline-block;
  border: 1px solid ;
  border-color: black;
  height: 180px;
  width: 180px;
  position: relative;
  overflow: hidden;
  object-position: 100% 0;
  object-fit: cover; /*makes it so picture isn't smushed into space */
}

.testimonial-title {
  font-weight: 800;
}

/* All this stuff helps round the scrollbars */
::-webkit-scrollbar {
   width: 14px;
   height: 2px;
   border-radius: 20px;
   margin-left: -10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
  margin: -35px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
