/* css styles */

.navbar{
  font-family: roboto;
  font-weight: 700;
}

.blockquote{
  text-align: left;
  font-weight: 300;
}

ul{
  list-style-type: square;
}

li::marker{
  color: #0096FF;
  font-size: 1.3em;
}


/* Logo code to customize headers */
.logo-regular img {
  height: 21em;
  margin: auto;
  display: block;
}

.logo-small img {
  height: 10em;
  margin: auto;
  display: block;
}

.card-title {
 font-weight: 700;
 font-size: 22px;
}

#colorstrip-regular{
    width: 100%;
    height: 21em;
    border-color: black;
    background: black;
    /*background: linear-gradient(to right, white 1%, gray 7%, black 15%, black 85%, gray 93%, white 99%); */
}

#colorstrip-small{
    width: 100%;
    height: 10em;
    border-color: black;
    background: black;
    /*background: linear-gradient(to right, white 1%, gray 7%, black 15%, black 85%, gray 93%, white 99%); */
}


